{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title"><a href="{{ project.repo_link }}">{{ project.repo_link }}</a></h1>
        <p>{{ project.description }}</p>
        <p>Likes: {{ project.likes.count }}</p>
        <form method="post">
            {% csrf_token %}
            <button name="like" class="button is-small"><i class="fas fa-heart"></i></button>
            <button name="request_join" class="button is-small">Request to Join</button>
        </form>
        <h2 class="subtitle">Comments</h2>
        {% for comment in project.comments.all %}
        <p>{{ comment.user.username }}: {{ comment.text }}</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <textarea name="comment" class="textarea"></textarea>
            <button type="submit" class="button is-primary">Comment</button>
        </form>
    </div>
</section>
{% endblock %}