{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Projects</h1>
        {% for project in projects %}
        <div class="card mb-4">
            <div class="card-content">
                <p><a href="{{ project.repo_link }}">{{ project.repo_link }}</a></p>
                <p>{{ project.description }}</p>
                <p>Contributors Needed: {{ project.contributors_needed }}</p>
                <p>Likes: {{ project.likes.count }}</p>
                <a href="{% url 'project_detail' project.id %}" class="button is-link">View Details</a>
            </div>
        </div>
        {% empty %}
        <p class="notification is-info">No projects available yet. Create one to get started!</p>
        {% endfor %}
    </div>
</section>
{% endblock %}